$fg: #121212;
$primary: #E4C1AE;

body {
    font-family: "Roboto";
}

.container {
    width: 1440px;
    padding-top: 96px;
}

.compotent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 95px;
    .content {
        width: 380px;
        color: $fg;
        h2 {
            font-size: 42px;
            line-height: 50.4px;
            margin: 0 0 24px 0;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
        button {
            padding: 16px 40px;
            border-radius: 24px;
            font-size: 16px;
            line-height: 16px;
            background-color: $primary;
            color: white;
            font-weight: 700;
            border: none;
            margin-top: 32px;
            transition: background-color 200ms;
            &:hover {
                background-color: darken($primary, 5%);
            }
            &:focus {
                background-color: lighten($primary, 5%);
            }
        }
    }
}

.img-hero {
    width: 505px;
}
.img-hero img {
    width: 505px;
    height: 330px;
}

